# Pivot & Melt

---

*   ### These two functions work to change the structure of our DataFrame according to any requirement or needs.

In [1]:
import pandas as pd
import numpy as np

In [3]:
df_books = pd.read_csv('/content/bestsellers-with-categories.csv', sep=',', header=0)
df_books

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [4]:
df_books.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

# Pivot Tables

---
*   This feature can bring back memories for people interested in the world of SQL such as Oracle, PostgreSQL and other database engines have implemented it for many years. 
*   Pivot basically transforms the values of certain columns or rows into the indices of a new DataFrame, and the intersection of these is the resulting value.

In [5]:
df_books.pivot_table(index='Author', columns='Genre', values= 'User Rating')

Genre                       Fiction  Non Fiction
Author
Abraham Verghese                4.6          NaN
Adam Gasiewski                  NaN     4.400000
Adam Mansbach                   4.8          NaN
Adir Levy                       4.8          NaN
Admiral William H. McRaven      NaN     4.700000
...                             ...          ...
Walter Isaacson                 NaN     4.566667
William Davis                   NaN     4.400000
William P. Young                4.6          NaN
Wizards RPG Team                4.8          NaN
Zhi Gang Sha                    NaN     4.600000

[248 rows x 2 columns]

As a result, the Author values become part of index by row and the Genre values become part of index by column, with the User Rating remaining as a value.

---
Let's now vary a little bit

In [7]:
df_books.pivot_table(index='Genre', columns='Year', values='User Rating', aggfunc='sum')

Year,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Genre,,,,,,,,,,,
Fiction,110.2,92.3,97.0,94.4,109.1,134.3,79.1,89.6,113.7,99.5,96.4
Non Fiction,119.0,135.6,130.9,132.2,118.6,96.8,153.3,144.3,119.3,133.9,140.6

## In this case we have:

---
*   Each gender, the sum over the years. looked like more interesting, isn't?
*   The best news is we can get the sum, also get the mean, standard deviation, count, variance, and so on.
*   Only by changing the aggfunc parameter that translates the grouping function.

# Melt

---
Takes the DataFrame columns and passes them to rows, with two new columns to specify the old column and the value it contained.

for instance: simply printing the first five rows of the DataFrame with the Name and Genre columns gives this result.

In [8]:
df_books[['Genre', 'Year']].head(5)

         Genre  Year
0  Non Fiction  2016
1      Fiction  2011
2  Non Fiction  2018
3      Fiction  2017
4  Non Fiction  2019

### Now! let's apply Melt

In [9]:
df_books[['Genre', 'Year']].head(5).melt()

  variable        value
0    Genre  Non Fiction
1    Genre      Fiction
2    Genre  Non Fiction
3    Genre      Fiction
4    Genre  Non Fiction
5     Year         2016
6     Year         2011
7     Year         2018
8     Year         2017
9     Year         2019

In [10]:
df_books.melt(id_vars='Year', value_vars='Genre')

     Year variable        value
0    2016    Genre  Non Fiction
1    2011    Genre      Fiction
2    2018    Genre  Non Fiction
3    2017    Genre      Fiction
4    2019    Genre  Non Fiction
..    ...      ...          ...
545  2019    Genre      Fiction
546  2016    Genre  Non Fiction
547  2017    Genre  Non Fiction
548  2018    Genre  Non Fiction
549  2019    Genre  Non Fiction

[550 rows x 3 columns]